body {
  width: 100vh;
  height: 100vh;
  background: #005c97;
  background: -webkit-radial-gradient(circle at center, #005c97, #363795);
  background: radial-gradient(circle at center, #005C97, #363795);
}
